@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-fkcBlack: #0A0A0A;
  --color-fkcBlue: #1E3A8A;
  --color-fkcGold: #C5A059;
  --color-fkcDarkGold: #9A7B38;
}

html {
  scroll-behavior: smooth;
}


body {
  @apply bg-white text-gray-900 dark:bg-fkcBlack dark:text-white transition-colors duration-300;
}